body {
    background-image: url("./Assets/Images/white-waves.png")
}

header {
    background-color: rgb(146, 7, 7);
    border: goldenrod;
    border-width: medium;
    border-style: inset;
}

footer {
    font-size: smaller;
    background-color: rgb(146, 7, 7);
    border: goldenrod;
    border-width: medium;
    border-style: inset;
}

.navbar-toggler {
    background-color: aliceblue;
}