body {
    background-image: url("./Assets/Images/white-waves.png");
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    background-color: rgb(146, 7, 7);
    border: goldenrod;
    border-width: medium;
    border-style: inset;
}

footer {
    font-size: smaller;
    background-color: rgb(146, 7, 7);
    border: goldenrod;
    border-width: medium;
    border-style: inset;
}

.navbar-toggler {
    background-color: aliceblue;
}

#wfhrImg {
    animation-duration: 0.7s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

#curatioImg {
    animation-duration: 0.8s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

#nplImg {
    animation-duration: 0.9s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

#dayPlannerImg {
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

#weatherImg {
    animation-duration: 1.1s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein {
    from {
      translate: -125vw 0;
    }
  
    to {
      translate: 0 0;
    }
  }